{% extends 'base.html' %}
{% block title %} О нас {% endblock %}
{% load static %}
{% block content %}
    <div class="about-container">
      <div class="about-header">
        <h1>О нас</h1>
        <p>Добро пожаловать на наш туристический блог!</p>
      </div>

      <div class="about-body">
        <div class="about-image">
          <img src="{% static 'images/close-up-travel-kit-elements.jpg' %}" alt="Travel image">
        </div>
        <div class="about-text">
          <h2>Кто мы?</h2>
          <p>
            Мы — группа страстных путешественников, которые решили поделиться своими
            впечатлениями, опытом и советами с миром. Наша цель — вдохновить людей
            на новые приключения, познакомить их с удивительными уголками планеты
            и помочь подготовиться к идеальному путешествию.
          </p>

          <h2>Почему мы?</h2>
          <p>
            Мы знаем, как важно найти правильную информацию, когда планируешь путешествие.
            Наши статьи включают в себя не только практичные советы, но и вдохновляющие
            истории из реальной жизни. Мы расскажем вам о лучших местах, вкусной еде,
            необычных традициях и секретах каждого уголка Земли.
          </p>

          <h2>Что вас ждёт?</h2>
          <p>
            На нашем блоге вы найдете полезные статьи, гиды по городам и странам,
            обзоры отелей и туристических объектов, а также уникальные маршруты,
            которые помогут вам открыть мир с новой стороны.
          </p>
        </div>
      </div>
{% endblock %}